   <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/tetga.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Ưu đãi</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Articles Area Start ##### -->
    <section class="articles-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Articles Post Area -->
                <div class="col-12 col-lg-8">
                    <div class="mt-100">

                        <!-- *** Single Articles Area *** -->
                        <div class="single-articles-area d-flex flex-wrap mb-30">
                            <div class="article-thumbnail">
                                <img src="img/bg-img/tetga1.jpg" alt=""/>
                            </div>
                            <div class="article-content">
                                <a href="#" class="post-title">Ưu đãi đồng giá 45k</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">Đến hết 1/2020</a>
                                    <a href="#" class="post-comments">45.000đ</a>
                                </div>
                                <p>Điều kiện khuyến mãi: Có thẻ HS hoặc SV</p>
                                <p>Thời gian: Từ thứ 2 đến chủ nhật hằng tuần trước 31/1/2020</p>
                                <p>Không áp dụng cho dịp lễ, tết và khách hàng trên 22 tuổi</p>
                            </div>
                        </div>

                        <!-- *** Single Articles Area *** -->
                        <div class="single-articles-area d-flex flex-wrap mb-30">
                            <div class="article-thumbnail">
                                <img src="img/bg-img/member.jpg" alt="">
                            </div>
                            <div class="article-content">
                                <a href="#" class="post-title">Khách hàng thân thiết</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">Từ 12/2019</a>
                                    <a href="#" class="post-comments">45.000đ</a>
                                </div>
                                <p>Thẻ thành viên trên tay, mua ngay vé chỉ từ 45k</p>
                                <p>Điều kiện khuyến mãi: Có thẻ thành viên</p>
                                <p>Thời gian: Từ 12/2019</p>
                            </div>
                        </div>

                        <!-- *** Single Articles Area *** -->
                        <div class="single-articles-area d-flex flex-wrap mb-30">
                            <div class="article-thumbnail">
                                <img src="img/bg-img/refill.jpg" alt="">
                            </div>
                            <div class="article-content">
                                <a href="#" class="post-title">Thêm thỏa thích</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">Đến hết 3/2020</a>
                                    <a href="#" class="post-comments">Free</a>
                                </div>
                                <p>Miễn phí refill lại bắp nước</p>
                                <p>Điều kiện khuyến mãi: Khách hàng mua combo refill</p>
                                <p>Thời gian: Thứ 5 hằng tuần đến hết 3/2020</p>
                            </div>
                        </div>

                        <!-- *** Single Articles Area *** -->
                        <div class="single-articles-area d-flex flex-wrap mb-30">
                            <div class="article-thumbnail">
                                <img src="img/bg-img/ten.jpg" alt="">
                            </div>
                            <div class="article-content">
                                <a href="#" class="post-title">Mốc 10h</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">Từ 1/1/2020</a>
                                    <a href="#" class="post-comments">45.000đ</a>
                                </div>
                                <p></p>
                                <p>Điều kiện áp dụng: Mua vé tại rạp trước 10h sáng mỗi ngày từ 1/1/2020</p>
                                <p>Giá chỉ từ 45k</p>
                            </div>
                        </div>
                        <!-- ### Pagination Area ### -->
                        
                    </div>
                </div>

                <!-- Sidebar Area -->
                <div class="col-6 col-sm-6 col-md-2 col-lg-1">
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Articles Area End ##### -->

